
<% if notice then %>
    <div class="layout-box-info">
        <div class="layout-box__first-wrap">
            <p class="mod-p-default"><%= notice %></p>
        </div>
    <!--/.layout-box--></div>
<% end %>