<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>
    <div class="mod-heading-lv1">
      <h1 class="heading__h-element">
          <span class="heading__span">ブログを作成する</span>
      </h1>
    <!--/.mod-heading-lv1--></div>
    <%= render 'form' %>
    <span class="adj-layout-end"> </span>
  </div>
</section>

