<% if notice then %>
<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

        <div class="layout-box-info">
            <div class="layout-box__first-wrap">
                <p class="mod-p-default"><%= notice %></p>
            </div>
        <!--/.layout-box--></div>

    <span class="adj-layout-end"> </span>
  </div>
</section>
<% end %>

<section class="layout-section-for-reading">
  <div class="layout-section__inner-wrap">
    <span class="adj-layout-first"> </span>

    <div class="mod-heading-lv1">
      <h1 class="heading__h-element">
          <span class="heading__span">トピックを編集する</span>
      </h1>
    <!--/.mod-heading-lv1--></div>
    <%= render 'form' %>