<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードを変更する場合は下記リンクから新しいパスワードを設定してください。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこの操作に記憶がなければ、このメールは無視してください。</p>
